@using TailorManagementSystems.Application.DTO.Menus
@using TailorManagementSystems.Application.Interfaces.Menus
@using TailorManagementSystems.Infrastructure.Services

<div class="container-fluid">
    <a class="navbar-brand" href="">CV. Dunia Busana</a>
</div>