@using TailorManagementSystems.Application.DTO.Menus
@using TailorManagementSystems.Application.Interfaces.Menus

@inject IMenu MenuServices

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        @if (response == null)
        {
            <p>Loading...</p>
        }
        else
        {
            @foreach (var menu in response)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="@menu.Url" Match="NavLinkMatch.All">
                        <span class="@menu.Icon" aria-hidden="true"></span> @menu.Name
                    </NavLink>
                </div>
            }
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="agencies">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Instansi
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="itemManagements">
                    <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Item Management
                </NavLink>
            </div>
        }
    </nav>
</div>

@code {
    private List<MenuDTO> response;

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        response = await MenuServices.GetAllAsync();
    }
}