@namespace TailorManagementSystems.Web.Components
@using TailorManagementSystems.Application.Common
@using TailorManagementSystems.Application.Interfaces.Payment_Types
@using TailorManagementSystems.Application.Models.Payment_Types
@using TailorManagementSystems.Infrastructure.Services.Sweetalert
@inject IPayment_TypeService Payment_TypeService
@inject SweetAlertService Alert

<EditForm Model="model" OnValidSubmit="HandleSubmit">
    <DataAnnotationsValidator />
    @* <ValidationSummary /> *@
    <div class="mb-3">
        <label>Name</label>
        <InputText class="form-control form-control-sm" @bind-Value="model.Name" />
        <ValidationMessage For="@(() => model.Name)" />
    </div>

    <div class="mb-3">
        <label>Description</label>
        <InputText class="form-control form-control-sm" @bind-Value="model.Description" />
        <ValidationMessage For="@(() => model.Description)" />
    </div>

    <div class="mb-3">
        <label class="form-label">Row Status</label>
        <InputCheckbox class="form-check-input" @bind-Value="model.RowStatus" />
    </div>



    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6 text-end">
            <button class="btn btn-primary btn-sm">
                @(IsEdit ? "Update" : "Create")
            </button>
            <a href="/payment_types" class="btn btn-light btn-sm">Back</a>
        </div>
    </div>
</EditForm>

@code {
    [Parameter] public int? Id { get; set; }
    [Parameter] public EventCallback OnSuccess { get; set; }

    private Payment_TypeFormModel model = new();
    private bool _isLoaded;
    private bool IsEdit => Id.HasValue;

    protected override async Task OnParametersSetAsync()
    {
        if (IsEdit && !_isLoaded)
        {
            try
            {
                var result = await Payment_TypeService.GetByIdAsync(Id.Value);
                if (result != null && result.Success && result.Data != null)
                {
                    model = new Payment_TypeFormModel
                    {
                        Name = result.Data.Name,
                        Description = result.Data.Description,
                    };
                }
            }
            finally
            {
                _isLoaded = true;
            }
        }
    }

    private async Task HandleSubmit()
    {
        Response<bool> result;
        try
        {
            if (IsEdit)
                result = await Payment_TypeService.UpdateAsync(Id.Value, model);
            else
                result = await Payment_TypeService.CreateAsync(model);

            if (!result.Success)
            {
                await Alert.ShowAlert("Gagal", result.Message, "error");
                return;
            }

            await Alert.ShowAlert("Berhasil", "Data berhasil disimpan", "success");
            await OnSuccess.InvokeAsync();
        }
        catch (Exception e)
        {
            await Alert.ShowAlert("Sistem Error", e.Message, "error");
        }
    }
}